{% extends 'check/base.html' %}
{% block content%}
    <div>
        <h1 style="font-family: Arial, Helvetica, sans-serif;"> <b> Personality check </b> </h1>
        <br>
        <div class="row">
            <p class="col-md-8" style="font-family: Arial, Helvetica, sans-serif; text-align: justify;"> This project is made to predict person personality based on the big five personality traits. This project aim to make people know themselves better and make the best out of it. We can improve our weekness from our personality and make us a better person. </p>
            <p class="col-md-8" style="font-family: Arial, Helvetica, sans-serif; text-align: justify;"> Using this test, you can see your past personality, are you still have the same personality? or your personality changes 180 degrees? You can monitor and see it in this app.</p>
            <figure class="quote; col-md-8" style="border-radius: 20px ;background-color: rgb(179, 236, 255);background-blend-mode: soft-light; background-size: contain;">
                <blockquote>
                  <strong>Personality</strong> is an unbroken series of successful gestures.
                </blockquote>
                <figcaption>
                  &mdash; F. Scott Fitzgeralld  
                </figcaption>
                <br>
              </figure>
        </div>
        <br>
        <h2 style="font-family: Arial, Helvetica, sans-serif;"> Big Five Personality Traits</h2>
        <div > 
            <p class="col-md-8" style="font-family: Arial, Helvetica, sans-serif; text-align: justify;">
                Nowadays, personality described as five broad traits: openness to experience, conscientiousness, extraversion, agreeableness, and neuroticism.
                The Big Five personality, come from the lexical hypothesis first proposed by Francis Galton in the 1800s. In 1980s that the Big Five began famous among scholarly attention. Today, the Big Five is a psychology research, and many agree that personality can be grouped into the five basic traits specified by the Big Five.
            </p>
            <br>
            <h5 style="font-family: Arial, Helvetica, sans-serif;"> <strong>Data Source:</strong></h5>
            <ul type="circle">
                <li> <a href="https://www.kaggle.com/pavlorymarchuk/test3434?select=train.csv"> Dataset</a> </li>
                <li> <a href="https://www.thoughtco.com/big-five-personality-traits-4176097"> Big Five Personality</a> </li>
                <li> <a href="https://answerstoall.com/popular/what-is-the-meaning-of-dependable-person/"> Dependable Result</a> </li>
                <li> <a href="http://www.ptypes.com/serious.html"> Serious Result</a> </li>
                <li> <a href="https://www.16personalities.com/articles/what-extraverted-personality-types-arent"> Extraverted Result</a> </li>
                <li> <a href="https://cementanswers.com/how-do-you-describe-a-lively-person/"> Lively Result</a> </li>
                <li> <a href="https://notesread.com/what-is-responsibility-as-a-personality-trait/"> Responsible Result</a> </li>
            </ul>
            <hr>
            <h4 style="font-family: Arial, Helvetica, sans-serif; text-align: center;padding-left: 40px;"> Let's Connect with me!</h4>
            <ul style="text-align: center;">
                <a href="https://github.com/geraldbryan" class="btn github">
                  <span class="fa fa-github"> </span>
                </a>
                <a href="https://www.linkedin.com/in/gerald-bryan-6500711a5/" class="btn linkedin">
                  <span class="fa fa-linkedin"> </span>
                </a>  
                <a href="https://www.instagram.com/geraldbryan_/" class="btn instagram">
                    <span class="fa fa-instagram"> </span>
                </a>  
              </ul>
              <br>
        </div>
        


    </div>
    
{% endblock %}
