{% extends 'check/base.html' %}

{% block content%}
<div class="row">
    <div class="col-md-6">
        <h2 style="text-align: center;">Big Five Personality Traits</h2>
        <br>
        <div class="container; content-section">
            <div class="article-metadata">
                <p class="mr-2" style="font-family: Arial, Helvetica, sans-serif;"> 
                    <h5> Openness (to Experience) </h5> 
                    <small class="text-muted" style="text-align: justify;">If you possess high openness to experience, you are open to all the original and complex things life has to offer, both experientially and mentally. The opposite of openness to experience is close-mindedness.</small>
                </p>
            </div>
            <div style="font-family: Arial, Helvetica, sans-serif;font-size: small;">
                Individuals with this trait are usually:
                <ul type="circle">
                    <li> Curious </li>
                    <li> Imaginative </li>
                    <li> Artistic </li>
                    <li> Interested in many things </li>
                    <li> Excitable </li>
                    <li> Unconventional </li>
                </ul>
            </div>
        </div>
    
        <div class="container; content-section">
            <div class="article-metadata">
                <p class="mr-2" style="font-family: Arial, Helvetica, sans-serif;"> 
                    <h5> Conscientiousness </h5> 
                    <small class="text-muted" style="text-align: justify;">Conscientiousness means having good impulse control, which enables individuals to fulfill tasks and meet goals. Conscientious behavior includes planning and organization, delaying gratification, avoiding compulsive action, and following cultural norms. The opposite of conscientiousness is lack of direction.</small>
                </p>
            </div>
            <div style="font-family: Arial, Helvetica, sans-serif;font-size: small;">
                Key facets of conscientiousness include:
                <ul type="circle">
                    <li> Competence </li>
                    <li> Order (or organizational skills) </li>
                    <li> Dutifulness (or a lack of carelessness) </li>
                    <li> Achievement through hard work </li>
                    <li> Self-discipline </li>
                    <li> Being deliberate and controlled </li>
                    </ul>
            </div>
        </div>
    
        <div class="container; content-section">
            <div class="article-metadata">
                <p class="mr-2" style="font-family: Arial, Helvetica, sans-serif;"> 
                    <h5> Extraversion </h5> 
                    <small class="text-muted" style="text-align: justify;">Extraverted individuals who draws their energy from their interactions with the social world. Extraverts are sociable, talkative, and outgoing. The opposite of extraversion is introversion.</small>
                </p>
            </div>
            <div style="font-family: Arial, Helvetica, sans-serif;font-size: small;">
                Extraverts are typically:
                <ul type="circle">
                    <li> Gregarious </li>
                    <li> Assertive </li>
                    <li> Active </li>
                    <li> Excitement-seeking </li>
                    <li> Emotionally positive and enthusiastic </li>
                    <li> Warm and outgoing </li>
                    </ul>
            </div>
        </div>
    
        <div class="container; content-section">
            <div class="article-metadata">
                <p class="mr-2" style="font-family: Arial, Helvetica, sans-serif;"> 
                    <h5> Agreeableness </h5> 
                    <small class="text-muted" style="text-align: justify;">The trait of agreeableness refers to a positive and altruistic orientation. This trait enables individuals to see the best in others, trust others, and behave prosocially. The opposite of agreeableness is antagonism.</small>
                </p>
            </div>
            <div style="font-family: Arial, Helvetica, sans-serif;font-size: small;">
                Agreeable people are often:
                <ul type="circle">
                    <li> Trusting and forgiving </li>
                    <li> Straightforward and undemanding </li>
                    <li> Altruistic </li>
                    <li> Affable and amenableg </li>
                    <li> Modest </li>
                    <li> Sympathetic to others </li>
                    </ul>
            </div>
        </div>
    
        <div class="container; content-section">
            <div class="article-metadata">
                <p class="mr-2" style="font-family: Arial, Helvetica, sans-serif;"> 
                    <h5> Neuroticism </h5> 
                    <small class="text-muted" style="text-align: justify;">Neuroticism refers to a tendency towards negative emotions and includes experiences like feeling anxious and depressed. The opposite of neuroticism is emotional stability.</small>
                </p>
            </div>
            <div style="font-family: Arial, Helvetica, sans-serif;font-size: small;">
                Key facets of neuroticism include:
                <ul type="circle">
                    <li> Anxiety and tension </li>
                    <li> Angry hostility and irritability </li>
                    <li> Depression </li>
                    <li> Self-consciousness and shyness </li>
                    <li> Being impulsive and moody </li>
                    <li> Lack of self-confidence  </li>
                    </ul>
            </div>
        </div>
    </div>
    
    <div class="col-md-6">
        <h2 style="text-align: center;"> Result Meaning</h2>
        <br>
        <div class="container; content-section">
            <div class="article-metadata">
                <p class="mr-2" style="font-family: Arial, Helvetica, sans-serif;"> 
                    <h5> Dependable </h5> 
                    <small class="text-muted" style="text-align: justify;">Dependable means “reliable, steady, trustworthy.” A dependable person builds trust by holding him/herself accountable.There are two characteristics of a dependable person which are honesty and reliability.</small>
                </p>
            </div>
            <div style="font-family: Arial, Helvetica, sans-serif;font-size: small;">
                Following are seven ways to show people you’re dependable:
                <ul type="circle">
                    <li> Do what you say you will do. If you make a commitment, live up to it </li>
                    <li> Be timely (Showing up on time shows people you care) </li>
                    <li> Be responsive </li>
                    <li> Be organized </li>
                    <li> Be accountable </li>
                    <li> Be consistent  </li>
                    </ul>
            </div>
        </div>

        <div class="container; content-section">
            <div class="article-metadata">
                <p class="mr-2" style="font-family: Arial, Helvetica, sans-serif;"> 
                    <h5> Serious </h5> 
                    <small class="text-muted" style="text-align: justify;">Individuals with the Serious personality style maintain a sober demeanor. They are solemn and not given to emotional expression.They are realistically aware of their own capabilities, but they are also aware of their own limitations; they are not tempted by vanity or self-importance.</small>
                </p>
            </div>
            <div style="font-family: Arial, Helvetica, sans-serif;font-size: small;">
                The interests of the Serious Personality Type include:
                <ul type="circle">
                    <li> suffering no illusions </li>
                    <li> Be timely (Showing up on time shows people you care) </li>
                    <li> Be responsive </li>
                    <li> Be organized </li>
                    <li> Be accountable </li>
                    <li> Be consistent  </li>
                    </ul>
            </div>
        </div>

        <div class="container; content-section">
            <div class="article-metadata">
                <p class="mr-2" style="font-family: Arial, Helvetica, sans-serif;"> 
                    <h5> Extraverted </h5> 
                    <small class="text-muted" style="text-align: justify;"> Extraverted personalities are generally more adventurous and more willing to try new things. They find things outside of themselves worthy of exploration and engagement. They gain energy and motivation by responding to their environments.</small>
                </p>
            </div>
            <div style="font-family: Arial, Helvetica, sans-serif;font-size: small;">
                Some of the general characteristics associated with Extraverted include:
                <ul type="circle">
                    <li> Enjoys being at the center of attention </li>
                    <li> Enjoys group work </li>
                    <li> Feels isolated by too much time spent alone </li>
                    <li> Likes to communicate by talking </li>
                    <li> Likes to talk about thoughts and feelings </li>
                    <li> Looks to others and outside sources for ideas and inspiration </li>
                    </ul>
            </div>
        </div>

        <div class="container; content-section">
            <div class="article-metadata">
                <p class="mr-2" style="font-family: Arial, Helvetica, sans-serif;"> 
                    <h5> Lively </h5> 
                    <small class="text-muted" style="text-align: justify;"> Lively means “active, spirited, and energetic.” Lively is an adjective derived from the noun “life,” and it basically means “full of life.” A lively party is exciting and entertaining. A lively person has an energetic personality and is always on alert.</small>
                </p>
            </div>
            <div style="font-family: Arial, Helvetica, sans-serif;font-size: small;">
                What can be described as lively?
                <ul type="circle">
                    <li> Briskly alert </li>
                    <li> Energetic </li>
                    <li> Vigorous </li>
                    <li> Active </li>
                    <li> Full of life and movement </li>
                    <li> Brilliant </li>
                    </ul>                
            </div>
        </div>

        <div class="container; content-section">
            <div class="article-metadata">
                <p class="mr-2" style="font-family: Arial, Helvetica, sans-serif;"> 
                    <h5> Responsible </h5> 
                    <small class="text-muted" style="text-align: justify;"> Responsibility refers to the ability to control aspects such as impulses, have self-discipline, following the rules, and establishing priorities.</small>
                </p>
            </div>
            <div style="font-family: Arial, Helvetica, sans-serif;font-size: small;">
                Responsibility has six characteristics, which are the following:
                <ul type="circle">
                    <li> Be able to adequately meet the objectives set or the skills to be carried out </li>
                    <li> Being able to organize oneself </li>
                    <li> Comply with moral obligations and follow the rules </li>
                    <li> Give life direction and purpose </li>
                    <li> Start a task, carry it out to the end without abandoning it halfway through  </li>
                    <li> Avoiding acting on impulse </li>
                    </ul>                
            </div>
        </div>
    </div>
</div>
     
{% endblock content %}